// Import theming functions
@import "~@angular/material/theming";
// Custom theme
@import "src/custom-theme.scss";

#logo {
  text-shadow: 0 0, 0 4px mat-color($candy-app-primary), 4px 4px 0 mat-color($candy-app-primary),
    0 -1px mat-color($candy-app-primary);
  font-size: 3rem;
  font-weight: 800;
  z-index: 1;
  position: absolute;
  right: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.progress-container {
  background: mat-color($candy-app-primary);
  color: white;
  height: 4px;
}

.results-body {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  label {
    font-size: $mid-font;
    display: block;
  }
  mat-icon {
    font-size: $mid-font;
    margin: auto;
    display: inline;
  }
}

.results-header {
  width: 100%;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: $small-font;
  color: mat-color($candy-app-primary);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.centered {
  text-align: center;
}

.warning {
  margin: 1rem;
  color: mat-color($candy-app-warn);
  font-size: $mid-font;
}

.verified-container {
  line-height: 2rem;
}

.clickable {
  cursor: pointer;
}

// TYPOGRAPHY

.small {
  font-size: small !important;
}

.larger {
  font-size: larger !important;
}
