<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span id="logo">Torrque</span>
    <span class="spacer"></span>
    <mat-form-field>
      <input matInput (keyup.enter)="search()" [(ngModel)]="searchString" placeholder="" appAutofocus />
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
<div class="progress-container">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</div>


<mat-card *ngIf="syncResults.length > 0" fxLayout="column" fxLayoutAlign="center center">

  <!-- <button [disabled]="loading" mat-raised-button (click)="search()">GO</button> -->

  <div class="results-header">
    <div fxLayout="row" fxLayoutAlign="start start">
      <label fxFlex="80">name</label>
      <label fxFlex="5">
        <mat-icon></mat-icon>
      </label>
      <label fxFlex="10" class="centered">seeds</label>
      <label fxFlex="5">
        <mat-icon></mat-icon>
      </label>
    </div>
  </div>
  <div class="results-body" *ngFor="let result of syncResults">
    <div fxLayout="row" fxLayoutAlign="start space-evenly">
      <label fxFlex="80" class="larger">{{ result.name | slice:0:120 }}</label>
      <div class="centered verified-container" fxFlex="5">
        <mat-icon class="fa fa-check small" *ngIf="result.verified"></mat-icon>
      </div>
      <label class="centered" fxFlex="10">{{ result.seeds }}</label>
      <label class="centered clickable" fxFlex="5" (click)="openMagnet(result.link)">
        <mat-icon class="fa fa-magnet"></mat-icon>
      </label>
    </div>
  </div>
  <div class="warning" *ngIf="noResults">
    <label>No results</label>
  </div>


</mat-card>

<router-outlet></router-outlet>
