// Breakpoints
$break-small: 600px;
$break-large: 1500px;


mat-card {
    box-shadow: none !important;
    margin: auto;
}

.mat-input-element {
    position: absolute;
    float: left;
    font-size: 2rem !important;
    padding: .5rem !important;
    color: mat-contrast($candy-app-primary, 800) !important;
    background: mat-color($candy-app-primary, 300) !important;
}

.mat-toolbar .mat-input-element {
    border: none;
}

input:focus {outline:0;}

mat-icon {
    color: mat-color($candy-app-primary);
}

.mat-raised-button {
    color: mat-color($candy-app-primary) !important;
    box-shadow: 0 3px 1px -2px mat-color($candy-app-primary), 0 2px 2px 0 mat-color($candy-app-primary), 0 1px 5px 0 mat-color($candy-app-primary) !important;
    font-size: $small-font !important;
    font-weight: 600 !important;
}

.mat-form-field-placeholder {
    font-size: $mid-font !important;
}
.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-placeholder {
    font-size: $mid-font !important;
}

.mat-input-element-underline {
    display: none !important;
}
.mat-focused{
    border-bottom: 0px !important;
}

.mat-form-field-infix {
    border-top: 0 !important;
}

.mat-form-field-wrapper {
    padding-bottom: 0px !important;
}


input.mat-input-element {
    margin-top: 2px !important;
}

.mat-toolbar-row {
    height: 70px !important;
}
